*{
    margin: 0;
    padding: 0;
   
}
/************************* Header ***/
header{
    background-color: tan;
    padding: 40px;
    text-align: center;
    
}
/************************* Titel mit Logo ***/
.logo{
    text-align: right;
    margin-top: -70px;
}
.titel{
    font-size: 25px;
    font-weight: bold;
    margin-left: 260px;
    margin-top: 30px;
    text-align: left;
    font-family: 'Righteous', cursive;
}

/************************* Navbar ***/

.nav{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
    background-color: #CD3333;
    height: 50px;
    line-height: 35px;
}

.nav li{
    display: inline;
    margin-right: 40px;
}

.nav a{
    display: inline-block;
    padding: 10px;
    color: white;
    text-decoration: none;
    margin-left: -40px;
    font-size: 25px;
    font-family: 'Righteous', cursive;
}
/************************* Website ***/
.website{
    text-align: center;
    font-size: 50px;
    margin-top: 30px;
    font-family: 'Righteous', cursive;
}

.img1{
    text-align: center;
    margin: 100px;
    line-height: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
    
}

p{
    font-size: 25px;
    font-family: 'Righteous', cursive;
    
}
/************************* Column ***/
.column{
    column-count: 2;
    text-align: center;
    line-height: 50px;
    margin-bottom: 20px;
    
}

.column1 {
    margin-left: 100px;
}

.column2{

    margin-right: 100px;

}
/************************* Footer ***/
.logo2{
    text-align: center;
    margin-top: 10px;
    background-color: tan;
    padding: 20px;
}


.logo2 p{
    margin-top: 20px;
    margin-bottom: 10px;
}